<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>har-body-size-limit</key>
	<integer>1048576</integer>
	<key>har-capture-global</key>
	<date>9998-12-31T22:00:00Z</date>
</dict>
</plist>
