Package: com.cyber.har-logger
Name: har-logger
Version: 0.0.1
Architecture: iphoneos-arm
Description: Triggers HAR (HTTP/HTTPS) logging on remote device
Maintainer: DoronZ
Author: DoronZ
Section: System
Tag: role::hacker
